{% extends 'myapp/base.html' %}

{% block content %}
<nav class="navbar navbar-expand-sm p-1 sticky-top navbar-dark ">
            <div class="container">
                <h6 class=" navbar navbar-dark nav-cl "> MANIT</h6>
                <button type="button" class="navbar-toggler " data-toggle="collapse" data-target="#mymenu">
                    <span class="navbar-toggler-icon "></span>
                    
                </button>
                <div class="collapse navbar-collapse " id="mymenu">
                <ul class=" navbar-nav ml-auto" >
                    <li class="nav-item ">
                        <a class="nav-link " href="/">Home</a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link " href="/slogin">Assignment</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link " href="/tlogin">Teacher</a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link  " href="/contact">Contact</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/adminpg">Admin</a>
                    </li>
                </ul>
                </div>
            </div>    
        </nav>

<h4>this is home page</h4>

{% endblock content %}